# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.build/
dist/
build/

# Virtual env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# OS
.DS_Store
Thumbs.db

# Data (ne pas versionner)
data/
output/
csv/output/

# Mac
.DS_Store